# Virtual Environment
.venv/
venv/
ENV/
env/

# Environment Variables (SENSITIF - JANGAN DI-PUSH)
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDE & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db
